h1 {
    text-align: center;
}

.bunny {
    width: 150px;
    height: 150px;
    background-image: url('/Users/dana.g/uvbunny/src/app/assets/happy-bunny.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.bunny-content {
    background-image: url('/Users/dana.g/uvbunny/src/app/assets/content.png');
    width: 150px;
    height: 150px;
}
.bunny-sad {
    background-image: url('/Users/dana.g/uvbunny/src/app/assets/sad-bunny.jpeg');
    width: 150px;
    height: 150px;
}

.status-indicator {
    margin: 12px 0;
    .status-indicator-counter{
        text-align: right;
    }
}

.happiness {
    color: red;
}