<section  class="status-section" (click)="openBunny()" *ngIf="bunny | async; let bunny; else loading">
<h1>{{bunny.name}} </h1>
<!-- TODO: <div class="bunny" [class.bunny-content]="status =='content'" [class.bunny-sad]="status =='sad'"></div> -->
<!-- <img  class="bunny" src="assets/images/happy.png"> -->
<div class="bunny" [class.bunny-content]="bunny.totalPoints<50" [class.baby-sad]="bunny.totalPoints<25"></div>

<div class="happiness status-indicator">
  <span fxFlex="60%">Happiness</span>
  <mat-progress-bar fxFlex="25%" mode="determinate" [value]="bunny?.totalPoints" color="warn"></mat-progress-bar>
  <strong fxFlex="15%" class="status-indicator-counter">{{bunny?.totalPoints}}</strong>
</div>
</section>
<ng-template #loading>Loading bunny Data...</ng-template>
