<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px" (click)="openBunny()">
<h1>{{bunny?.name}} </h1>
<!-- <div class="bunny" [class.bunny-content]="status =='content'" [class.bunny-sad]="status =='sad'"></div> -->
<img  class="bunny" src="assets/images/happy.png">

<div class="happiness status-indicator">
  <span fxFlex="60%">Happiness</span>
  <mat-progress-bar fxFlex="25%" mode="determinate" [value]="bunny?.totalPoints" color="warn"></mat-progress-bar>
  <strong fxFlex="15%" class="status-indicator-counter">{{bunny?.totalPoints}}</strong>
</div>
</section>
