h1 {
    text-align: center;
}

.bunny {
    background-image: url('/assets/images/happy.png');  
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-left: 3vw;
  }
  
  .bunny-sad {
    background-image: url('/assets/images/sad.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 3vw;
    width: 150px;
    height: 150px;
  }
  .baby-content {
    background-image: url('/assets/images/content.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 3vw;
    width: 150px;
    height: 150px;
  }

.status-indicator {
    margin: 12px 0;
    .status-indicator-counter{
        text-align: right;
    }
}

.happiness {
    color: red;
}

.status-section{
    cursor: pointer;
}