
    <section fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly row center">
      <button class='add-bunny'mat-raised-button or="accent"(click)="addBunny()" mat-button>
      <mat-icon>add</mat-icon> Add new Bunny
    </button>

    <section class="bunnies" fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly row center">
          <h1>My Bunnies</h1>
          <mat-card>
            <p class="empty-label" *ngIf="(bunnies | async)?.length === 0">No Bunnies yet! Add a new bunny:)</p>
            <section *ngFor="let bunny of bunnies | async" >
            <app-bunny-status [bunnyId$]="bunny.id"></app-bunny-status>
            <mat-divider></mat-divider>
            </section>
          </mat-card>
  </section>
</section>