
    <section>
      <button class='add-bunny'mat-raised-button color="accent"(click)="addBunny()" mat-button>
      <mat-icon>add</mat-icon> Add new Bunny
    </button>

    <h1 class="title">My Bunnies</h1>
    <mat-grid-list class="bunnies" cols="3" rowHeight="1:2">
            <p class="empty-label" *ngIf="(bunnies | async)?.length === 0">No Bunnies yet! Add a new bunny:)</p>
            <mat-grid-tile *ngFor="let bunny of bunnies | async" >
            <app-bunny-status [bunnyId$]="bunny.id"></app-bunny-status>
            </mat-grid-tile>
          </mat-grid-list>
        </section>