
    <section fxLayout="col wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly col center">
      <button class='add-bunny'mat-raised-button color="accent"(click)="addBunny()" mat-button>
      <mat-icon>add</mat-icon> Add new Bunny
    </button>

    <section class="bunnies" fxLayout="col wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly col center">
          <h1>My Bunnies</h1>
          <mat-card>
            <p class="empty-label" *ngIf="(bunnies | async)?.length === 0">No Bunnies yet! Add a new bunny:)</p>
            <!-- <app-bunny-status *ngFor="let bunny of bunnies | async"  [bunny]="bunny" [routerLink]="[bunny.name, '']"></app-bunny-status> -->
            <app-bunny *ngFor="let bunny of bunnies | async"  [bunnyId$]="bunny.id" ></app-bunny>
          </mat-card>
  </section>
</section>