

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header role="button" >
      <mat-panel-title>
        <button mat-raised-button color="accent" mat-button>
          <mat-icon>settings</mat-icon> Configurations
        </button>      
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-card-title>Bunny Credits Configuration</mat-card-title>
      <mat-card-content >
        <mat-grid-list cols="1" rowHeight="3:1">
        <mat-grid-tile>
        <mat-form-field appearance="fill">         
          <mat-label>Carrot Points</mat-label>
          <input matInput type="number" autocomplete="off" [ngModel]="(config |async)?.carrot" #pointscar>
        </mat-form-field>        
        <button mat-stroked-button (click)="carrot(pointscar.value)">Save</button>
          </mat-grid-tile>
          
        <mat-grid-tile>
        <mat-form-field appearance="fill">         
          <mat-label>Lettuse Points</mat-label>
          <input matInput type="number"  autocomplete="off" [ngModel]="(config |async)?.lettuse " #pointslet>
        </mat-form-field>        
        <button mat-stroked-button (click)="lettuse(pointslet.value)">Save</button>
      </mat-grid-tile>

        <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>First Game Points</mat-label>
          <input matInput type="number" autocomplete="off" [ngModel]="(config |async)?.playFirst" #pointsfir>
        </mat-form-field>        
        <button mat-stroked-button (click)="playFirst(pointsfir.value)">Save</button> 
      </mat-grid-tile>
          <mat-grid-tile>

        <mat-form-field appearance="fill">
          <mat-label>Game with Friend Points</mat-label>
          <input matInput type="number" autocomplete="off" [ngModel]="(config |async)?.playFriend" #pointssec>
        </mat-form-field>        
        <button mat-stroked-button (click)="playFriend(pointssec.value)">Save</button>
      </mat-grid-tile>

    </mat-grid-list>       
      </mat-card-content> 
  </mat-expansion-panel>