

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header role="button" >
      <mat-panel-title>
        <button mat-raised-button color="accent" mat-button>
          <mat-icon>settings</mat-icon> Configurations
        </button>      
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-card-title>Bunny Credits Configuration</mat-card-title>
      <mat-card-content >
        <mat-grid-list cols="1" rowHeight="3:1">
        <mat-grid-tile>
        <mat-form-field appearance="fill">         
          <mat-label>Carrot Points</mat-label>
          <input matInput type="number" autocomplete="off" value="config.carrot" #poins>
        </mat-form-field>        
        <button mat-stroked-button (click)="carrot(poins.value)">Save</button>
          </mat-grid-tile>
          
        <mat-grid-tile>
        <mat-form-field appearance="fill">         
          <mat-label>Lettuse Points</mat-label>
          <input matInput type="number"  autocomplete="off" value="config.lettuse" #poins>
        </mat-form-field>        
        <button mat-stroked-button (click)="lettuse(poins.value)">Save</button>
      </mat-grid-tile>

        <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>First Game Points</mat-label>
          <input matInput type="number" autocomplete="off" value="config.playFirst" #poins>
        </mat-form-field>        
        <button mat-stroked-button (click)="playFirst(poins.value)">Save</button> 
      </mat-grid-tile>
          <mat-grid-tile>

        <mat-form-field appearance="fill">
          <mat-label>Game with Friend Points</mat-label>
          <input matInput type="number" autocomplete="off" value="config.playFriend" #poins>
        </mat-form-field>        
        <button mat-stroked-button (click)="playFriend(poins.value)">Save</button>
      </mat-grid-tile>

    </mat-grid-list>       
      </mat-card-content> 
  </mat-expansion-panel>