<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
    <mat-card class="item" *ngIf="bunny | async; let bunny; else loading">
    <mat-card-title>{{bunny.name }}</mat-card-title>
     <img src="assets/images/happy.png"  width="200" height="80">
     <mat-card-actions>
        <button color="primary" (click)="feed('Lettuse')" mat-raised-button>
            <mat-icon>add</mat-icon> Lettuse
          </button>
          <button color="primary" (click)="feed('Carrot')" mat-raised-button>
            <mat-icon>add</mat-icon> Carrot
          </button>
          <button color="accent" (click)="play('')" mat-raised-button>
            <mat-icon>category</mat-icon> Play
          </button>
    </mat-card-actions>
  </mat-card>
  <ng-template #loading>Loading bunny Data...</ng-template>
</section>

