<section>
  <button class="close" mat-button (click)="closeBunny()">
    <mat-icon>close</mat-icon>
  </button>
  <button class="delete" mat-button (click)="deleteBunny()">
    <mat-icon>delete_outline</mat-icon>
  </button>
    <mat-card class="item" *ngIf="bunny | async; let bunny; else loading">
    <mat-card-title class="title">{{bunny.name}}</mat-card-title>
    <mat-card-title class="points">Happiness: {{bunny.totalPoints}}</mat-card-title>
     <div class="bunny" [class.bunny-content]="bunny.totalPoints<50" [class.baby-sad]="bunny.totalPoints<25"></div>
     <mat-card-actions class="actions">
        <button color="primary" (click)="feed('Lettuse')" mat-raised-button>
            <mat-icon>add</mat-icon> Lettuse
          </button>
          <button color="primary" (click)="feed('Carrot')" mat-raised-button>
            <mat-icon>add</mat-icon> Carrot
          </button>
          <button color="accent"  mat-raised-button [matMenuTriggerFor]="friendsMenu">
            <mat-icon>category</mat-icon> Play
          </button>
    </mat-card-actions>
  </mat-card>
  <ng-template #loading>Loading bunny Data...</ng-template>
</section>

<mat-menu #friendsMenu="matMenu">
    <ng-template matMenuContent>
      <button  *ngFor="let friend of bunnies | async"  mat-menu-item (click)="play(friend.id)">{{friend.name}}</button>
    </ng-template>
  </mat-menu>